@charset "UTF-8";
/* -- Circle -- */
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circle-Regular.eot");
  src: local("☺"), url("../fonts/Circle-Regular.woff") format("woff"), url("../fonts/Circle-Regular.ttf") format("truetype"), url("../fonts/Circle-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* -- Plumb-medium -- */
@font-face {
  font-family: 'Plumb-medium';
  src: url("../fonts/plumb-medium.eot");
  src: local("☺"), url("../fonts/plumb-medium.woff") format("woff"), url("../fonts/plumb-medium.ttf") format("truetype"), url("../fonts/plumb-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

/* -- Plumb-bold -- */
@font-face {
  font-family: 'Plumb-bold';
  src: url("../fonts/plumb-bold.eot");
  src: local("☺"), url("../fonts/plumb-bold.woff") format("woff"), url("../fonts/plumb-bold.ttf") format("truetype"), url("../fonts/plumb-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
