@charset "UTF-8";
/* -- Import -- */
/* -- color fonts -- */
/* -- media screen -- */
/* -- fonts -- */
/* -- Circle -- */
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circle-Regular.eot");
  src: local("☺"), url("../fonts/Circle-Regular.woff") format("woff"), url("../fonts/Circle-Regular.ttf") format("truetype"), url("../fonts/Circle-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* -- Plumb-medium -- */
@font-face {
  font-family: 'Plumb-medium';
  src: url("../fonts/plumb-medium.eot");
  src: local("☺"), url("../fonts/plumb-medium.woff") format("woff"), url("../fonts/plumb-medium.ttf") format("truetype"), url("../fonts/plumb-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

/* -- Plumb-bold -- */
@font-face {
  font-family: 'Plumb-bold';
  src: url("../fonts/plumb-bold.eot");
  src: local("☺"), url("../fonts/plumb-bold.woff") format("woff"), url("../fonts/plumb-bold.ttf") format("truetype"), url("../fonts/plumb-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

/* -- / Import -- */
/* -- Common -- */
* {
  font-family: 'Circle';
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

ul {
  padding: 0; }

label {
  cursor: pointer; }

button {
  outline: none; }

.section--outer {
  padding-left: 20px;
  padding-right: 20px; }

.body {
  background-color: #f6f6f6;
  height: 100%; }

.section--inner {
  margin: 0 auto; }

.main {
  max-width: 1280px;
  min-width: 700px; }

.line {
  display: block;
  height: 1px;
  width: 90%;
  border-top: 1px solid #000;
  margin-left: 10px; }

.filter-subtitle {
  text-align: left;
  margin-left: 30px; }

/* wrapper 
--------------------------------------------------------------------*/
.section__title {
  margin: 0;
  padding-top: 40px; }

.--block {
  display: block;
  border: 2px solid #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px 5px #dddddd;
  background-color: #fff; }

.btn--color {
  color: #fff;
  background-color: darkcyan;
  border-color: darkcyan; }

/* Сортировка 
------------------------------------------*/
.sorting {
  margin-top: 20px; }
  .sorting__label {
    display: block;
    padding: 20px 0 20px 20px; }

/* / Сортировка 
------------------------------------------*/
.content {
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .content--mt {
    margin-top: 20px; }

/* Фильтр 
------------------------------------------*/
.filter {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height: 750px;
  min-width: 252px; }
  .filter__search {
    margin-bottom: 40px; }
  .filter-button {
    width: 210px;
    align-self: center;
    margin-top: 20px;
    padding: 10px; }
  .filter-button:last-child {
    margin-bottom: 20px; }

.filer--mr {
  margin-right: 20px; }

.floor__title {
  text-align: center;
  margin: 0 0 20px 0; }

.floor__label {
  display: block;
  text-align: left;
  margin: 10px 0 15px 30px; }

.floor__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.age__inp {
  display: flex;
  justify-content: space-around; }
  .age__inp--style {
    width: 80px;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid darkcyan;
    outline: none; }

.age__label {
  display: block;
  text-align: left;
  margin: 10px 0 15px 30px; }

.age__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.search__input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid darkcyan;
  outline: none; }

/* ---------- Радиокнопки ---------- */
.custom-radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid darkcyan;
  border-radius: 50%;
  vertical-align: text-top; }

.custom-radio::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: crimson;
  border-radius: 50%; }

.floor__input:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1); }

.age__input:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1); }

/* sidebar 
------------------------------------------*/
.sidebar {
  flex-basis: 77%; }
  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .sidebar-item__picture {
      width: 120px;
      height: 100px;
      border-radius: 5px;
      margin-left: 20px;
      background-color: darkcyan; }
      .sidebar-item__picture--photo {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px; }
    .sidebar-item__info {
      width: 100%; }
    .sidebar-item__title {
      text-align: center; }
    .sidebar-item__floor {
      text-align: left;
      margin-left: 40px; }
    .sidebar-item__subtitle, .sidebar-item__age {
      text-align: left;
      margin-left: 40px; }

/* / sidebar 
------------------------------------------*/
/* / wrapper (заголовок ленты)
--------------------------------------------------------------------*/
